details.intoc {
    border-color: __border__;
    border-style: solid;
    border-width: thin;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 0;
    margin-bottom: 1.6em;
    border-radius : 10px;
    _background-color: __background_alt__;
}

details.intoc summary {
    font-weight: bold;
}

details.intoc ul {
	line-height: 1.5em;
    padding: 0;
    margin: 0.5ex 0;
    _margin-left: 2em;
}

details.intoc ul.intoc li {
    padding-left: 0.2em;
}
